    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    h1{
        font-family: pacifico;
        text-align: center;
        color: purple;
    }
    div{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        border: 9px solid rgb(255, 255, 255);
        margin-top: 50px;
        margin-left: 610px;
        border-left-color: rgb(92, 163, 10);
        border-right-color: rgb(92, 163, 10);
        animation: spinner 1s linear infinite;
    }
    @keyframes spinner {
       30%{
           transform: rotate(20deg);
       }
       50%{
           transform: rotate(180deg);
       }
       100%{
           transform: rotate(360deg);

       }
    }
